{% extends 'base.jinja' %}

{% block title %}Index Page {% endblock %}

{% block body %}
    <p>Index Page </p>
    {% if user %}
        Hello {{ user }}, what would you like to do today?
    {% endif %}
    
    <p>
        <button type="button" class="btn btn-success" href= "http://127.0.0.1:5000/{{ url_for('login') }}"> Login </button>
    </p>
{% endblock %}