{% extends 'base.jinja' %}

{% block title %}Index Page {% endblock %}

{% block body %}
    <p>Index Page </p>
    {% if user %}
        Hello {{ user }}, what would you like to do today?
        <button type="button" class="btn btn-success" href= "http://127.0.0.1:5000/users"> Users </button>
        <button type="button" class="btn btn-success" href= "http://127.0.0.1:5000/user"> My profile </button>
    {% else %}
    <p> You're not logged in. </p>
    <p>
        <button type="button" class="btn btn-success" href= "http://127.0.0.1:5000/login"> Login </button>
    </p>
    {% endif %}
{% endblock %}