{% extends 'base.jinja' %}

{% block title %}Index Page {% endblock %}

{% block body %}
    Index Page
    {% if user %}
        Hello {{ user }}, what would you like to do today?
    {% endif %}
{% endblock %}