{% extends 'base.jinja' %}

{% block title %}Login Page {% endblock %}

{% block body %}
    Login Page
    <form action ="#" method = "post">
    <input type="text" name="usr"> Username <br>
    <input type="text" name="pss"> Password <br>
    <input type="submit" value="Submit">
    </form>
    {% if sw == "try again" %}
        <p style="color:red"> The username or password is incorrect. Please try again </p>
    {% endif %}
{% endblock %}