{% extends 'base.jinja' %}

{% block title %}Register Page {% endblock %}

{% block body %}
    Register Page
    <form action ="#" method = "post">
    <input type="text" name="nm"> Username <br>
    <input type="text" name="mail"> Email <br>
    <input type="text" name="ps1"> Password <br>
    <input type="text" name="ps2"> Confirm Password <br>
    <input type="submit" value="Submit">
    </form>
{% endblock %}