{% extends 'base.jinja' %}

{% block title %}Home Page {% endblock %}

{% block body %}
    Home
    <a href= "http://127.0.0.1:5000/encrypt"> Encryption </a>
    <a href= "http://127.0.0.1:5000/decrypt"> Decryption </a>

{% endblock %}